* {
    box-sizing: border-box;
  }
  
  :root {
    --color-primary-white: #ffffff;  /* Muy claro */
    --color-primary-bg: #f3f3f3;   /* Claro */
    --color-primary-100: #b4b4b4;  /* Suave */
    --color-primary-200: #9b9b9b;  /* Pastel */
    --color-primary-300: #5a5a5a;  /* Moderado */
    --color-primary-400: #4a4a4a;  /* Intenso */
    --color-primary-500: #3d3d3d;  /* Vibrante */
    --color-primary-600: #2d2d2d;  /* Profundo */
    --color-primary-700: #111111;  /* Oscuro */
    --color-primary-black: #000000;  /* Muy oscuro */
  
    --color-secondary-50: hsl(24, 93%, 83%);
    --color-secondary-100: hsl(24, 91%, 75%);
    --color-secondary-200: hsl(24, 96%, 68%);
    --color-secondary-300: hsl(24, 96%, 61%);
    --color-secondary-400: hsl(24, 96%, 53%);
    --color-secondary-500: hsl(24, 100%, 50%);
    --color-secondary-600: hsl(22, 90%, 50%);
    --color-secondary-red: #7c1d18;
  }
  
  body {
    margin: 0;
    padding: 1.25rem; /* 20px */
    font-family: -apple-system, BlinkMacSystemFont, Arial, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f3f3f3;
    color: #333;
    background: radial-gradient(
      ellipse at top,
      var(--color-primary-bg),
      var(--color-primary-bg)
    );
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

#main-navigation {
    width: 200px; /* Ajusta el ancho según sea necesario */
    background-color: var(--color-primary-100); /* Color de fondo */
    position: fixed; /* Mantener fijo en la parte izquierda */
    height: 100%; /* Altura completa */
    padding: 2rem 0; /* Espaciado superior e inferior */
}

#main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Alinear verticalmente */
}
.nav-item {
  padding: 1rem; /* Espaciado interno para cada elemento */
}

.nav-item a {
  text-decoration: none;
  color: var(--color-primary-bg); /* Color del texto */
  display: block; /* Asegurar que el enlace ocupe todo el área del elemento */
}

.nav-item a:hover,
.nav-item a.active {
  color: var(--color-secondary-200); /* Color al pasar el ratón */
}

  .error {
    max-width: 25rem;
    margin: 3rem auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--color-secondary-100);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .info-message {
    margin: 2rem;
    text-align: center;
    color: var(--color-primary-white);
    font-size: 1.5rem;
  }
  
  /* Estilo para el contenido principal */
#content {
  margin-left: 220px; /* Para que el contenido no se superponga al menú */
  padding: 1rem; /* Espaciado del contenido */
}

  @keyframes fade-blur-in {
    from {
      opacity: 0;
      filter: blur(1rem);
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-slide-in {
    from {
      opacity: 0;
      transform: translateY(-2rem);
    }
    to {
      opacity: 1;
    }
  }